@import "variables";

@media (max-width: 575px) {

  body, .container, .content {
    overflow-x: hidden;
  }

  body {

    nav {

      div.elements-wrapper {

        .logo {
          width: 2rem;
          height: 2rem;
        }

        ul.tools {

          li {
            margin: auto 5px;

            a {
              margin: auto 5px;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }

  .container.main {

    .content {

      .offer {

        .btns {
          flex-direction: column;
          align-items: center;

          button {
            margin-top: 1rem;
          }
        }

        p {
          font-size: $fontSmall;
        }
      }
    }
  }

  .feature, .people {

    .cards {
      flex-direction: column;
      justify-content: center;

      .card {
        margin-top: 2rem;
        width: 95%;

      }

      .person {
        width: 95%;
      }
    }
  }

  .popular {

    .courses {
      flex-direction: column;

      .course {
        width: 95%;
      }
    }
  }

  .container.count {

    .content {

      .count-down {

        .tabs {

          .tab {
            justify-content: center;
            width: 4.5rem;
            height: 4rem;
            margin: 2rem 0.2rem;

            .time {
              font-size: $fontBig;
            }
          }
        }
      }
    }
  }

  .container.events {

    .content {

      .banners {
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .banner {
          width: 95%;

          .content-wrapper {
            padding: 0.5rem;
            width: 60%;
            height: 70%;

            .time-place {

              .vl {
                width: 1px;
              }

              .date {

                .day {
                  font-size: $fontBig;
                }
              }

              .place {
                font-size: $fontSmall;
              }
            }

            .short-info {
              font-size: $fontSmall;
            }

            .more {
              padding: 10px;
              font-size: $fontTiny;
            }
          }
        }
      }
    }
  }

  .container.feedbacks {

    .content {

      .clients {
        flex-direction: column;

        .client {
          width: 95%;
          flex-direction: column;

          img {
            width: 95%;
          }

          .client-info {
            padding: 10px;
            margin-left: 0;
            margin-top: 2rem;
          }
        }
      }
    }
  }

  footer {

    .info-section > div {
      margin-top: 1rem;
    }

    .info-section {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;


      .services {

        ul {

          li {
            list-style-type: none;
          }
        }
      }
    }
  }

  .faq-banner {
    background-size: contain;
  }

  .container.faqs {

    .faq-wrapper {

      .faq {
        width: 90%;
        padding: 1.5rem;

        .question {
          font-size: $fontMedium;
        }

        .answer {
          font-size: $fontSmall;
        }
      }
    }
  }

  body {

    .contact {

      .content {
        min-height: 50vh;
        overflow: hidden;

        .contact-form {

          div.form {
            width: 20rem;
            grid-template-columns: auto;
            min-width: unset;
          }
        }
      }
    }
  }

  .contact-banner {
    background-position-x: 60%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .popular {

    .courses {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 5px;
      justify-content: center;
      align-items: center;

      .course {
        width: 100%;
      }
    }
  }

  .container.count {

    .content {

      .count-down {

        .tabs {

          .tab {
            justify-content: center;
            width: 5rem;
            height: 5rem;
            margin: 2rem 2rem;

            .time {
              font-size: $fontXL;
            }
          }
        }
      }
    }
  }

  .people {

    .cards {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;

      .person {
        width: 95%;
      }
    }
  }

  .container.events {

    .content {

      .banners {
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .banner {
          width: 85%;

          .content-wrapper {
            padding: 1rem;
            width: 20rem;
            height: 15rem;

            .time-place {

              .vl {
                width: 1px;
              }

              .date {

                .day {
                  font-size: $fontXL;
                }
              }

              .place {
                font-size: $fontMedium;
              }
            }

            .short-info {
              font-size: 1.05rem;
            }

            .more {
              padding: 15px;
              font-size: $fontSmall;
            }
          }
        }
      }
    }
  }

  .container.feedbacks {

    .content {

      .clients {
        padding: 15px;

        .client {
          width: 85%;
          flex-direction: column;

          img {
            width: 100%;
          }

          .client-info {
            // padding: 10px;
            margin-left: 0;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .popular {

    .courses {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;

      .course {
        width: 95%;
        
        .upper {
          width: 100%;
        }

        .lower {
          padding: 20px;
        }
      }
    }
  }

  .people {

    .cards {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
      align-items: center;
      justify-content: center;

      .person {
        padding: 0;
        width: 95%;
      }
    }
  }
}

@media (min-width: 1025px) {
  .popular {

    .courses {
      align-items: center;

      .course {
        width: 31%;
        
        .upper {
          width: 100%;
        }

        .lower {
          padding: 20px;
        }
      }
    }
  }
}