$fontMedium: 1.15em;
$fontSmall: 0.9em;
$fontTiny: 0.7em;
$fontBig: 1.55em;
$fontLarge: 2em;
$fontXL: 2.25em;
$fontXXL: 3em;
$darkerGray: #333;
$gray: #444;
$lighterGray: #555;
$seaBlue: #2883fa;
$darkBlue: #002347;
$yellow: #FDC632;
$veryLightPurple: #f3f2ff;
$whiteHalfTransparent: rgba(255, 255, 255, 0.5);
$whiteLowTransparent: rgba(255, 255, 255, 0.3)